  


<div class="modal-content">  

<div class="modal-body">
  <h2 style="text-align: center; color:#286090;">Welcome to Music Library</h2>
     <hr class="hr-st">


  <h4 style="text-align: center; color:#286090;">You are on Home Page. </h4>
     <hr class="hr-st">
<p style="text-align: right; color:#286090;"><i>Mikołaj Bronk, Wiktor Przybyłowski</i></p>

</div>
</div>


