

 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top nav-msc">  
      <%= link_to "Music library", root_path, class:'brand' %>    
     
      <div style="float: right; margin-right: 10px; margin-top: 8px;">
          <%= link_to 'Songs', songs_path, class: 'btn btn-primary btn-nav' %>
          <%= link_to 'Albums', albums_path, class: 'btn btn-primary btn-nav' %>
          <%= link_to 'Bands', bands_path, class: 'btn btn-primary btn-nav' %>
      </div>

      
    </nav>
